<p>index</p>

<h1>User Info</h1>
<p>name</p>
 <p><%= current_user.name %></p>
<p>introduction</p>
  <p><%= current_user.introduction %></p>
  <%= link_to "edit"  %>
  

<%= render 'new', books: @books %>


<% @books.each do |book| %>
  <div>
    <p>投稿ユーザー画像</p>
    <%= link_to book_path(book.id) do %>
      <p>Title：<%= book.title %></p>
    <% end %>
    <p>Opinion：<%= book.body %></p>
  </div>
<% end %>