<P>books/show</P>

<%= render 'users/info', user: @user %>



<%= render 'new', books: @books %>

<div>
  <h1>Book Detail</h1>
    <p>投稿ユーザー画像</p>
     <p><%=link_to @book.user.name, user_path %></p>
    <p>Title：<%= link_to @book.title, book_path %></p>
    <p>Opinion：<%= @book.body %></p>
    <% if @book.user == current_user %>
      <%= link_to "Edit", edit_book_path(@book), method: :edit %>
      <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？" %>
    <% end %>
</div>