<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/fa8a8d0d64.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">

      <header class="bg-dark">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <div class="container">
          <h4>
            <%= link_to root_path do %>
              <span>Bookers</span>
            <% end %>
          </h4>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item"><%= link_to current_user do %><i class="fa-solid fa-house"></i>Homes<% end %></li>
                <li class="nav-item"><%= link_to users_path do %><i class="fa-solid fa-users"></i>Users<% end %></li>
                <li class="nav-item"><%= link_to books_path do %><i class="fa-solid fa-book-open"></i>Books<% end %></li>
                <li class="nav-item"><%= link_to destroy_user_session_path, method: :delete do %><i class="fa-solid fa-right-from-bracket"></i>Log out<% end %></li>
              <% else %>
                <li class="nav-item"><%= link_to "../" do %><i class="fa-solid fa-house"></i>Home<% end %></li>
                <li class="nav-item"><%= link_to "/home/about" do%><i class="fa-solid fa-link"></i>About<% end %></li>
                <li class="nav-item"><%= link_to new_user_registration_path do %><i class="fa-solid fa-user-plus"></i>Sign up<% end %></li>
                <li class="nav-item"><%= link_to new_user_session_path do %><i class="fa-solid fa-right-to-bracket"></i>Log in<% end %></li>
              <% end %>
            </ul>
          </div>
          </div>
        </nav>
      </header>
    <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main class="mb-auto">
      <div class="row">
        <%= yield %>
      </div>
    </main>
    </div>
    <footer class="pt-5 pb-4">
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">CopyRight Infratop.inc</div>
        </div>
      </div>
    </footer>

  </body>
</html>
